*.class
*.log
logfile.log.*

# sbt specific
.cache
.cache-main
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Vim
.*.swp
.*.swo


/.target
/bin
target
project/target
.cache
.classpath
.project
.settings/
*.log

TODO.md

# Repositories
*.idn
*.dat
*.jrnl
*.lock
TDB/
TDB2/
LUCENE/

